<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <ion-img [src]="'assets/arrow.png'" style="position: absolute; left: 20px; width: 20px;"></ion-img>
    <ion-label style="color: #601D71; font-size: 22px; font-family: Metropolis-Bold !important;">Notifications</ion-label>
    <ion-img src="assets/icon/notification.png" style="color: #601D71; position: absolute; font-size: x-large; right: 20px;"></ion-img>
  </div>
  <div style="display: flex; justify-content: space-between; padding-left: 20px; padding-right: 20px; margin-top: 20px;">
    <div style="padding: 10px; box-shadow: 0 0 6px rgb(0 0 0 / 16%); border-radius: 20px; display: flex; justify-content: center; align-items: center;" (click)="onClickDateTime()">
      <ion-img src="assets/calendar.png" style="width: 14px;"></ion-img>
      <ion-label style="color: #601D71; margin-left: 5px; font-size: 13px; font-family: Metropolis-Bold !important;">Date & Time</ion-label>
    </div>
    <div style="padding: 10px; box-shadow: 0 0 6px rgb(0 0 0 / 16%); border-radius: 20px; display: flex; justify-content: center; align-items: center;" (click)="onClickFeedback()">
      <ion-img src="assets/feed.png" style="width: 14px;"></ion-img>
      <ion-label style="color: #601D71; margin-left: 5px; font-size: 13px; font-family: Metropolis-Bold !important;">Feedback</ion-label>
    </div>
    <div style="padding: 10px; box-shadow: 0 0 6px rgb(0 0 0 / 16%); border-radius: 20px; display: flex; justify-content: center; align-items: center;" (click)="onClickSearch()">
      <ion-img src="assets/notisearch.png" style="width: 15px;"></ion-img>
      <ion-label style="color: #601D71; margin-left: 5px; font-size: 13px; font-family: Metropolis-Bold !important;">Search</ion-label>
    </div>
  </div>
  <div style="margin-top: 20px; width: 100%; background-color: darkgray; height: 1px;"></div>
  <div style="padding: 20px; display: flex; justify-content: space-between;">
    <ion-label style="font-size: 16px; font-family: Metropolis-Bold !important;">Broadcast Lists</ion-label>
    <ion-label style="font-size: 16px; font-family: Metropolis-Bold !important;">1  >  2189</ion-label>
  </div>
  <div style="width: 100%; background-color: darkgray; height: 1px;"></div>
  <ion-list *ngFor="let data of notificationData; let i = index;" style="border-bottom: 1px solid darkgray;">
    <div style="padding: 20px;">
      <div style="display: flex; justify-content: space-between;">
        <div>
          <div>
            <ion-label style="color: #363636; font-size: 14px; font-family: Metropolis-SemiBold !important;">Created by {{data.createby}}</ion-label>
          </div>
          <div>
            <ion-label style="color: #363636; font-size: 14px; font-family: Metropolis-Regular !important;">{{data.date}}</ion-label>
          </div>
        </div>
        <div class="post-type" [ngStyle]="{ backgroundColor: data.color }">
          <ion-label style="color: white; font-size: 12px; font-family: Metropolis-Bold !important;"><b>{{data.type}}</b></ion-label>
        </div>
      </div>
      <div style="margin-top: 20px; display: flex; justify-content: start;">
        <ion-img class="avatar-icon" src="assets/avatar.png" style="width: 38px;"></ion-img>
        <ion-label style="margin-left: 20px; flex: 1; font-size: 20px; color: #5A5A5A; font-family: Metropolis-Bold !important;"><b>{{data.title}}</b></ion-label>
      </div>
      <div *ngIf="data.images.length>0" style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 4%; justify-content: space-between; margin-left: 50px;">
        <ion-list *ngFor="let img of data.images; let i = index;">
          <ion-img [src]="'assets/notification/' + img.img"></ion-img>
        </ion-list>
      </div>
    </div>
  </ion-list>
  <div class="calendar" [ngStyle]="{ display: clickedDateTime?'':'none'}">
    <div class="cancel-btn" (click)="onClickDateTime()">
      <svg xmlns="http://www.w3.org/2000/svg" width="15.707" height="15.707" viewBox="0 0 15.707 15.707">
        <path id="Path_638" data-name="Path 638" d="M20,6.511,18.489,5,12.5,10.989,6.511,5,5,6.511,10.989,12.5,5,18.489,6.511,20,12.5,14.011,18.489,20,20,18.489,14.011,12.5Z" transform="translate(-4.646 -4.646)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
      </svg>
    </div>
    <mbsc-datepicker style="width: 80%; position: absolute; top: 70px; left: 50%; transform: translate(-50%, 50px);" [controls]="['calendar', 'time']" display="inline"></mbsc-datepicker>
  </div>
</ion-content>
