<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <svg style="position: absolute; left: 20px" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" (click)="onClickClose()">
      <path id="Path_430" data-name="Path 430" d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z" transform="translate(-5 -5)"/>
    </svg>
    <ion-label style="color: #601D71; font-size: 22px; font-family: Metropolis-Bold !important;">ECM</ion-label>
  </div>
  <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px; padding: 0px 20px">
    <div style="box-shadow: 0 0 10px rgb(0 0 0 / 16%); border-radius: 50px; padding: 5px">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10">
        <path id="Path_918" data-name="Path 918" d="M17,7H13V9h4a3,3,0,0,1,0,6H13v2h4A5,5,0,0,0,17,7Zm-6,8H7A3,3,0,0,1,7,9h4V7H7A5,5,0,0,0,7,17h4ZM8,11h8v2H8Z" transform="translate(-2 -7)" fill="#601d71"/>
      </svg>
      <ion-label style="margin-left: 8px; color: #601D71; font-size: 13px; font-family: Metropolis-Bold;">Link to Map</ion-label>
    </div>
    <div style="box-shadow: 0 0 10px rgb(0 0 0 / 16%); border-radius: 50px; padding: 5px">
      <svg id="Group_32551" data-name="Group 32551" xmlns="http://www.w3.org/2000/svg" width="13.554" height="13.554" viewBox="0 0 13.554 13.554">
        <path id="Path_392" data-name="Path 392" d="M15.048,9.777v5.271H4.506V9.777H3v5.271a1.51,1.51,0,0,0,1.506,1.506H15.048a1.51,1.51,0,0,0,1.506-1.506V9.777Zm-4.518.5,1.95-1.943L13.542,9.4,9.777,13.166,6.012,9.4,7.074,8.339l1.95,1.943V3H10.53Z" transform="translate(-3 -3)" fill="#601d71"/>
      </svg>
      <ion-label style="margin-left: 8px; color: #601D71; font-size: 13px; font-family: Metropolis-Bold;">Download Image</ion-label>
    </div>
  </div>
  <div style="margin-top: 20px; padding: 10px 20px; display: flex; justify-content: space-between; align-items: center; border-top: 1px solid #D3D3D3;">
    <ion-label style="color: #5A5A5A; font-size: 15px; font-family: Metropolis-Bold;">{{detailData.title}}</ion-label>
    <ion-label style="color: #5A5A5A; font-size: 15px; font-family: Metropolis-Medium;">{{detailData.date}}</ion-label>
  </div>
  <ion-img src="assets/ecm/ecmpk2cam1.png" style="width: 100%;"></ion-img>
  <div [ngStyle]="{position: 'absolute', backgroundColor: detailData.color, borderRadius: '50px', padding: '5px', marginLeft: '20px', marginTop: '20px'}">
    <ion-label style="color: white; font-size: 20px; font-family: Metropolis-Bold;">{{detailData.unit}}</ion-label>
  </div>
  <ion-label style="position: absolute; white-space: pre-wrap; color: #5A5A5A; font-size: 20px; font-family: Metropolis-Bold; margin-top: 70px; margin-left: 20px;">{{detailData.address}}</ion-label>
</ion-content>
