ion-menu-button {
  color: var(--ion-color-primary);
}

.bottom-pan {
  display: flex;
  justify-content: center;
  background-color: white;
  position:fixed;
  width: 100%;
  height: 15vh;
  bottom: 0px;
}

.bottom-menu {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  width: 90%;
  height: 65px;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  padding-right: 14px;
}

.viewlist-menu {
  position: absolute;
  margin-top: 60px;
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 16%);
  left: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  padding-top: 10px;
}

.vehicle-menu {
  position: fixed;
  background-color: white;
  height: 36px;
  width: 90%;
  box-shadow: 0 0 10px rgb(0 0 0 / 16%);
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0px);
}

.title {
  color: #601D71;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 22px;
  font-family: Metropolis-Bold !important;
}

.notification {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-family: Metropolist-Medium !important;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 12px;
  top: 10px;
}

.select-vehicle {
  border-radius: 20px;
  width: 40px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
