<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; justify-content: center; align-items: center;">
      <ion-buttons style="position: absolute; left: 20px;">
        <ion-menu-button style="color: #601D71;"></ion-menu-button>
      </ion-buttons>
      <ion-title style="color: #601D71; position: absolute; transform: translate(-50%, -50%); left: 50%; top: 50%;"><b>100 CCTV</b></ion-title>
      <ion-icon style="color: #601D71; position: absolute; font-size: x-large; right: 60px;" name="search"></ion-icon>
      <ion-icon style="color: #601D71; position: absolute; font-size: x-large; right: 20px;" name="notifications"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div>
    <div id="map" class="map-container"></div>
    <div>

    </div>
  </div>
</ion-content>
