<ion-content>
  <div style="position: absolute; left: 20px; margin-top: 20px;">
    <ion-img [src]="'assets/arrow.png'" style="width: 20px;"></ion-img>
  </div>
  <div style="display: flex; justify-content: center; flex-direction: column; align-items: center; margin-top: 20px;">
    <div class="avatar-img">
      <svg xmlns="http://www.w3.org/2000/svg" width="33.181" height="33.181" viewBox="0 0 33.181 33.181">
        <path id="Path_506" data-name="Path 506" d="M20.59,8.148A4.148,4.148,0,1,1,16.443,12.3,4.16,4.16,0,0,1,20.59,8.148m0,20.738c5.6,0,12.028,2.675,12.443,4.148H8.148c.477-1.493,6.864-4.148,12.443-4.148M20.59,4a8.3,8.3,0,1,0,8.3,8.3A8.293,8.293,0,0,0,20.59,4Zm0,20.738c-5.537,0-16.59,2.779-16.59,8.3v4.148H37.181V33.033C37.181,27.517,26.128,24.738,20.59,24.738Z" transform="translate(-4 -4)" fill="#9b9b9b"/>
      </svg>
    </div>
    <div style="margin-top: 20px;">
      <ion-label style="color: gray; font-size: 24px; font-family: Metropolis-Bold !important;">John Tan</ion-label>
    </div>
  </div>
  <div style="padding-left: 20px; padding-right: 20px; margin-top: 30px;">
    <div style="margin-top: 30px;">
      <ion-label style="color: #601D71; font-size: 14px;">Full Name</ion-label>
    </div>
    <div>
      <ion-input style="font-size: 16px; border-bottom: 1px solid #ccc; color: #5a5a5a" name="name" type="text" ngModel required></ion-input>
    </div>
    <div style="margin-top: 20px;">
      <ion-label style="color: #601D71; font-size: 14px;">Email</ion-label>
    </div>
    <div>
      <ion-input style="font-size: 16px; border-bottom: 1px solid #ccc; color: #5a5a5a" name="email" type="email" ngModel required></ion-input>
    </div>
    <div style="margin-top: 20px;">
      <ion-label style="color: #601D71; font-size: 14px;">Company</ion-label>
    </div>
    <div>
      <ion-input style="font-size: 16px; border-bottom: 1px solid #ccc; color: #5a5a5a" name="company" type="text" ngModel required></ion-input>
    </div>
    <div style="margin-top: 20px;">
      <ion-label style="color: #601D71; font-size: 14px;">Mobile Number</ion-label>
    </div>
    <div>
      <form>
        <ion-item>
          <ion-intl-tel-input
            id="phone-number"
            name="phone-number"
            inputPlaceholder=" "
            [(ngModel)]="phoneNumber"
            #phoneNumberControl="ngModel" >
          </ion-intl-tel-input>
        </ion-item>
      </form>
    </div>
    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
      <ion-label style="color: #601D71; font-size: 14px;">Password</ion-label>
      <a class="type-toggle" (click)="toggleShow()">
        <ion-icon class="show-option" style="color: #601D71; --ionicon-stroke-width: 50px;" [hidden]="showPassword" name="eye-off-outline"></ion-icon>
        <ion-icon class="hide-option" style="color: #601D71; --ionicon-stroke-width: 50px;" [hidden]="!showPassword" name="eye-outline"></ion-icon>
      </a>
    </div>
    <div>
      <a *ngIf="showPassword">
        <ion-input style="font-size: 16px; border-bottom: 1px solid #ccc; color: #5a5a5a" name="password" type="text" [(ngModel)]="password"></ion-input>
      </a>
      <a *ngIf="!showPassword">
        <ion-input style="font-size: 16px; border-bottom: 1px solid #ccc; color: #5a5a5a" name="password" type="password" [(ngModel)]="password"></ion-input>
      </a>
    </div>
    <div style="margin-top: 20px;">
      <ion-label style="color: #601D71; font-size: 14px;">Confirm Password</ion-label>
    </div>
    <div>
      <ion-input style="font-size: 16px; border-bottom: 1px solid #ccc; color: #5a5a5a" name="confirm" type="password" ngModel required></ion-input>
    </div>
    <div style="margin-top: 100px; margin-bottom: 20px;">
      <ion-button expand="block" size="large" shape="round" style="font-size: 18px; font-family: Metropolis-Bold;">Update</ion-button>
    </div>
  </div>
</ion-content>
