<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <ion-img [src]="'assets/arrow.png'" style="position: absolute; left: 20px; width: 20px;"></ion-img>
    <ion-label style="color: #601D71; font-size: 22px;"><b>Bookmark</b></ion-label>
  </div>
  <div *ngIf="tvList.length===0" style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <ion-img src="assets/nobookmark.png"></ion-img>
  </div>
  <div *ngIf="tvList.length>0">
    <div style="background: darkgray; height: 1px; width: 100%; margin-top: 20px;"></div>
    <ion-list *ngFor="let t of tvList; let i = index">
      <div class="bookmark-list" (click)="onClickList(i)">
        <ion-label style="color: #601D71;"><b>{{t.title}}</b></ion-label>
        <ion-icon *ngIf="showList[i]" name="remove-circle-outline" style="font-size: x-large; color: #601D71;"></ion-icon>
        <ion-icon *ngIf="!showList[i]" name="add-circle-outline" style="font-size: x-large; color: #601D71;"></ion-icon>
      </div>
      <div style="background: darkgray; height: 1px; width: 100%;"></div>
      <div *ngIf="showList[i]">
        <ion-list *ngFor="let d of t.data; let j = index">
          <div style="display: flex; justify-content: space-between; margin-top: 10px; padding-left: 20px; padding-right: 20px;">
            <ion-label><b>{{d.cam}}</b></ion-label>
            <ion-label style="color: gray;">{{d.date}}</ion-label>
          </div>
          <div style="margin-top: 5px; position: relative;">
            <ion-img [src]="'assets/' + d.img" style="width: 100%;"></ion-img>
            <ion-fab-button size="small" style="position:absolute; --background: white; top: 0px; right: 0px;">
              <ion-icon name="bookmark-outline" style="color: #601D71;"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-list>
      </div>
    </ion-list>
  </div>
</ion-content>
