<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <ion-img [src]="'assets/arrow.png'" style="position: absolute; left: 20px; width: 20px;"></ion-img>
    <ion-label style="color: #601D71; font-size: 22px; font-family: Metropolis-Bold !important;">About</ion-label>
  </div>
  <div style="margin-top: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <ion-label style="color: #818181; font-size: 24px; font-family: Metropolis-Bold !important;">CHANGI EAST</ion-label>
    <ion-label style="color: #818181; font-size: 16px; letter-spacing: 4px; font-family: Metropolis-Regular !important;">Digital Twin</ion-label>
  </div>
  <div style="margin-top: 30px; padding-left: 20px; padding-right: 20px;">
    <ion-label style="color: #601D71; font-size: 16px; font-family: Metropolis-Bold !important;">Changi East Digital Twin Project</ion-label><br><br>
    <ion-label style="color: #5A5A5A; font-size: 16px; line-height: 1.5; font-family: Metropolis-Regular !important;">Changi Airport’s passenger traffic has grown steadily in the past decade, with an average per annum growth of 5.4%. With the prospect of strong aviation growth over the next 20 years, particularly in the Asia-Pacific region, demand for air travel is expected to increase and traffic at Changi Airport is anticipated to grow in tandem.

      Spanning a massive 1,080 hectares, the Changi East development will provide future capacity for Changi Airport to ride on the projected growth in air travel. The development will serve to secure Singapore’s air hub status and ensure its continued competitiveness and relevance.

      As Changi Airport’s largest expansion project to date, the development includes:</ion-label>
  </div>
  <div style="margin-top: 20px;">
    <ion-img src="assets/about.png" style="width: 100%;"></ion-img>
  </div>
  <div style="margin-top: 20px; padding-left: 20px; padding-right: 20px; display: flex; flex-direction: column;">
    <ion-label style="color: #5A5A5A; font-size: 16px; line-height: 1.5; font-family: Metropolis-Regular !important;">Changi Airport’s fifth terminal,<br>Terminal 5 (T5)<br><br>
      A three-runway system<br>The construction of tunnels and other underground systems<br><br>
      Landside and aviation support facilities<br>The Changi East Industrial Zone</ion-label><br><br>
    <ion-label style="color: #601D71; font-size: 16px; font-family: Metropolis-Bold !important;">FAST FACTS ABOUT CHANGI EAST</ion-label>
    <ion-label style="color: #5A5A5A; font-size: 16px; line-height: 1.5; font-family: Metropolis-Regular !important;">Total area of works is equivalent to 667 football fields<br><br>
      Total pavement length in the development is equivalent to Singapore’s Pan Island Expressway<br><br>
      Total length of on-site drainage is equivalent to the length of 435 MRT trains<br>
      The development is estimated to be completed in the 2030s<br><br>
      </ion-label>
    <ion-label style="color: #601D71; font-size: 16px; font-family: Metropolis-Bold !important;">T5 AND SUPPORTING INFRASTRUCTURE</ion-label>
    <ion-label style="color: #5A5A5A; font-size: 16px; line-height: 1.5; font-family: Metropolis-Regular !important;">Scheduled for completion in the 2030s,
      T5 will be able to handle up to 50 million passengers per annum (mppa) in its initial phase.
      Including additional capacity from T2’s upgrading works,
      this would bring Changi Airport’s total passenger handling capacity to around 140 mppa.<br><br>
      T5 will be linked to the other terminals at Changi Airport,
      allowing the expanded Changi Airport to be operated as a single,
      integrated airport for ease of transfer between different terminals with airfield operational efficiency.
      New facilities, such as navigation aids, airfield lighting systems and a fire station will also be constructed.</ion-label>
  </div>
</ion-content>
