.attach-img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0 0 10px rgb(0 0 0 / 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  --ionicon-stroke-width: 40px;
}

ion-label {
  font-family: Metropolis-SemiBold !important;
}

ion-select::part(icon) {
  color: #601D71;
  opacity: 1;
}
.my-select {
  max-width: 100% !important;
}
.alert-wrapper {
  width: 100% !important;
  max-width: 100% !important;
  }
  .select-full-width {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
  }
