<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <ion-img [src]="'assets/arrow.png'" style="position: absolute; left: 20px; width: 20px;"></ion-img>
    <ion-label style="color: #601D71; font-size: 22px;"><b>Feedback</b></ion-label>
  </div>
  <div style="padding-left: 20px; padding-right: 20px; margin-top: 30px;">
    <div>
      <ion-label style="color: #601D71; font-size: 14px;"><b>Full Name</b></ion-label>
    </div>
    <div>
      <ion-input style="font-size: 16px; border-bottom: 1px solid #ccc; color: #5a5a5a" name="name" type="text" ngModel required></ion-input>
    </div>
    <div style="margin-top: 20px;">
      <ion-label style="color: #601D71; font-size: 14px;"><b>Topic</b></ion-label>
    </div>
    <div>
      <ion-input style="font-size: 16px; border-bottom: 1px solid #ccc; color: #5a5a5a" name="topic" type="text" ngModel required></ion-input>
    </div>
    <div style="margin-top: 20px;">
      <ion-label style="color: #601D71; font-size: 14px;"><b>Location</b></ion-label>
    </div>
    <div>
      <ion-select style="font-size: 16px; border-bottom: 1px solid #ccc; color: #5a5a5a" ngModel required></ion-select>
    </div>
    <div style="margin-top: 20px;">
      <ion-label style="color: #601D71; font-size: 14px;"><b>Leave Your Message Here</b></ion-label>
    </div>
    <div style="margin-top: 8px;">
      <ion-label style="color: #5A5A5A; font-size: 14px;">Please provide an image or photo to support your message, if any.</ion-label>
    </div>
    <div>
      <ion-textarea style="border: 1px solid darkgray; border-radius: 15px; height: 200px; color: gray;"></ion-textarea>
    </div>
    <div style="display: flex; justify-content: start; margin-top: 10px">
      <div class="attach-img">
        <ion-icon name="camera-outline" size="large" style="color: #601D71;"></ion-icon>
      </div>
      <div class="attach-img" style="margin-left: 10px;">
        <ion-icon name="videocam-outline" size="large" style="color: #601D71;"></ion-icon>
      </div>
      <div style="position: absolute; right: 20px;">
        <ion-label style="color: darkgray;">Word Limited to 5000 Characters</ion-label>
      </div>
    </div>
  </div>
  <div style="position: absolute; bottom: 20px; width:100%; padding-left: 20px; padding-right: 20px;">
    <ion-button expand="block" size="large" shape="round" style="font-size: 18px; --background: #601D71"><b>Submit</b></ion-button>
  </div>
</ion-content>
